<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @subscription.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @subscription.matricula %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subscription.status %>
</p>

<p>
  <strong>Course:</strong>
  <%= @subscription.course.titulo %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
