  <div class="nested-fields">
  	<div class="field">

  		<div class="field">
	      <%= f.label :nome %>
	      <%= f.text_field :nome %>

	      <%= f.label :telefone %>
	      <%= f.text_field :telefone %>

	      <%= link_to_remove_association('Remover', f) %>
	    </div>
  	</div>
  </div>