<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h2>Cidade</h2>
  <div class="field">
    <table>
      <thead>
        <tr>
          <td><%= form.label :nome %></td>
          <td><%= form.text_field :nome %></td>
        </tr>
        <tr>
          <td><%= form.label :populacao %></td>
          <td><%= form.text_field :populacao %></td>
        </tr>
      </thead>
    </table>
    
  </div>

  <h2>Prefeito</h2>
  <%= form.fields_for :mayor do |mayor_fields| %>

    <div class="field">
          <table>
            <thead>
              <tr>
                <td><%= mayor_fields.label :nome %></td>
                <td><%= mayor_fields.text_field :nome %></td>
              </tr>
              <tr>
                <td><%= mayor_fields.label :email %></td>
                <td><%= mayor_fields.text_field :email %></td>
              </tr>
            </thead>
          </table>
    </div>
  <% end %>

  <h2>Vereadores</h2>
  <div id="councilors">
    <%= form.fields_for :councilors do |councilors_fields| %>
      <%= render partial: "councilor_fields", locals: {f: councilors_fields} %>
    <% end %>
    <%= link_to_add_association('Novo', form, :councilors) %>
  </div>

  <br><br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
